@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,700&display=swap');
@import "reset.css";
@import "variables.css";
@import "text-style.css";

/* Components */
@import "components/navbar.css";
@import "components/footer.css";

/* Sections */
@import "sections/section-settings.css";
@import "sections/1_banner.css";
@import "sections/2_mission.css";
@import "sections/3_recipe-for-day.css";
@import "sections/4_featured-recipes.css";
@import "sections/5_blog.css";
@import "sections/6_newsletters.css";


* {
    box-sizing: border-box;
    cursor: default;
}

body {
    margin: 0;
    overflow-x: hidden;
    color: var(--color-black);
    background-color: var(--color-white);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    color: var(--color-white);
    background-color: var(--color-primary);
    font-weight: var(--weight-bold);
    font-size: var(--font-small);
    padding: .5em 1.2em;
    border-radius: 2em;
}

.flex {
    display: flex;
}

/* Recipe Tag Style */

.recipe__tag__list {
    background-color: var(--color-light-green);
    color: var(--color-gray);
    border-radius: 20px;
    padding: 5px 20px;
    margin: 0 .7em 1.2em 0;
    text-transform: capitalize;
}
