:root {
    /* Colour */
    --color-primary: #A7D10D;
    --color-dark-green: #8AAD0A;
    --color-light-green: #E0F29B;
    --color-light-orange: #F9D49D;
    --color-light-yellow: #FCF9BF;
    --color-beige: #FBFEF2;
    --color-white: #fff;
    --color-gray: #808080;
    --color-light-gray: #E7E7E7;
    --color-black: #000;
}