#banner {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
}


.banner__bg video {
    width: 100vw;
    z-index: -2;
    display: none;
}

.banner__title p {
    padding-top: .3rem;
    font-size: var(--font-micro);
    font-weight: var(--weight-xtra-bold);
    color: var(--color-white);
    letter-spacing: .7px;
}

.banner__bg .banner__bg__img {
    height: 40vh;
    position: relative;
     width: 100vw;
}

.banner__title {
    width: 100%;
    position: absolute;
    top: 41%;
    left: auto;
}

.banner__bg__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*====================================
Media Queries
====================================*/
@media (min-width: 768px) {

    #banner {
        position: absolute;
        top: 10.3rem;
        left: 0;
    }

    .banner__bg .banner__bg__img {
        height: 85vh;
        position: relative;
         width: 100vw;
    }

    .banner__title p {
        font-size: var(--font-large);
        font-weight: var(--weight-semi-bold);
    }
}

@media (min-width:1024px) {
    
    .banner__title p {
        font-size: var(--font-large);
        font-weight: var(--weight-semi-bold);
        letter-spacing: 1.5px;
        padding-top: 0;
    }

    .banner__title {
        width: 100%;
        position: absolute;
        top: 38%;
        left: auto;
    }

}

@media (min-width: 1440px) {
	
    .banner__bg video {
        width: 100vw;
        z-index: 8888;
        display: unset;
    }
    .banner__bg__img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: none;
    }
    

}
