#mission {
    text-align: center;
}

.mission__box{
    background-color: var(--color-beige);
    margin-top: 12.5rem;
    padding: 2rem .8rem;
    flex-direction: column;
    align-items: center;
}

.mission__box .mission__intro {
    color: var(--color-black);
    font-size: var(--font-x-small);
    line-height: .9rem;
    font-weight: var(--weight-medium);
    /* font-weight: var(--weight-bold); */
}

/*====================================
Media Queries
====================================*/

@media (min-width: 768px) {
  #mission {
    margin-bottom: 2.2rem;
  }
  .mission__box {
    margin-top: 0;
    padding: 5.8rem 1.4rem;
  }

  br {
    display: none;
  }

  .mission__box .mission__intro {
    font-size: var(--font-small);
    line-height: 1.4rem;
    padding-top: 1rem;
  }

}

@media (min-width: 1024px) {
  .mission__box {
    margin-top: 0;
    padding: 10rem 1.4rem;
  }

  .mission__box p {
    /* width: 35rem; */
    padding: 0 10rem;
  }

}

@media (min-width: 1440px) {


  .mission__box{
    margin-top: -1rem;
    padding: 5.1rem 1.5rem;  
  }

  .mission__box .mission__intro {
    padding: 0 13rem;
    line-height: 1.3rem;
    font-weight: var(--weight-semi-bold);
  }
}
