
.recipe-for-today__box {
    cursor: pointer;
    transition: transform .5s;
    flex-direction: column;
    display: flex;
    width: 100%;
}

.recipe-for-today__box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*
|* column - right */

.recipe-for-today__info {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 1rem .8rem;
}

.recipe-for-today__info .fa-star {
    font-size: var(--font-micro);
}

.recipe-for-today__info h3 {
    padding: .5rem 0;
}

.recipe-for-today__info p {
    line-height: 1.5rem;
    font-size: var(--font-x-small);
    padding-top: .8rem;
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.recipe-for-today__info p:hover {
    color: var(--color-gray);
}

.recipe__tag {
    align-items: center;
    justify-content: flex-start;
    padding: .8rem 0;
    /* text-align: center; */
}

.recipe__tag__list {
    font-size: var(--font-x-nano);
    font-weight: var(--weight-bold);
    display: block;
}

.recipe__tag li:nth-child(2) {
    background-color: var(--color-light-orange);
}

.recipe-for-today__info span {
    color: var(--color-gray);
    font-size: var(--font-micro);
}

.recipe-for-today__box:hover {
    transform: scale(1.05);
}

.recipe-for-today__info .fa-clock {
    padding-right: .4rem;
    font-size: var(--font-small);
}

/*====================================
Media Queries
====================================*/


@media (min-width:768px) {
    #recipe-for-today {
        width: 100%;
    }

    .recipe-for-today__box {
        width: 100%;
        display: grid;
        grid-template-columns: 20rem 1fr;
        margin-top: 2.5rem;
        height: 20rem;
    }

    .recipe-for-today__info .author {
        font-size: var(--font-x-small);
    }

    .recipe-for-today__info h3 {
        padding: 0;
    }
    

    .recipe-for-today__info .fa-star {
        font-size: var(--font-x-small);
    }

    .recipe-for-today__info p {
        line-height: 1.1rem;
        font-size: var(--font-x-small);
        font-weight: var(--weight-bold);
        padding: .9rem 1.2rem .8rem 0;
        overflow: visible;
        text-overflow: unset;
        white-space: unset;
    }

    .recipe__tag__list {
        font-size: var(--font-micro);
        font-weight: var(--weight-xtra-bold);
    }

    .recipe-for-today__info {
        box-shadow: rgba(0, 0, 0, 0.097) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        padding: 2rem;
    }

    .recipe-for-today__info span:last-child {
        font-weight: var(--weight-xtra-bold);
        font-size: var(--font-micro);
    }
}

@media (min-width:1024px) {

    #recipe-for-today h2 {
        font-size: var(--font-large);
    }

    .recipe-for-today__box {
        width: 100%;
        display: grid;
        grid-template-columns: 20rem 1fr;
        margin-top: 2.5rem;
        height: 22rem;
    }

    .recipe-for-today__info {
        padding: 4rem;
    }

    .recipe-for-today__info h3 {
        padding: .8rem 0 .5rem 0;
    }

    .recipe-for-today__info .author {
        font-size: var(--font-small);
        font-weight: var(--weight-xtra-bold);
    }

    .recipe-for-today__info .fa-star {
        font-size: var(--font-small);
    }
    .recipe-for-today__info p {
        line-height: 1.5rem;
        font-size: var(--font-small);
        font-weight: var(--weight-regular);
        overflow: visible;
        text-overflow: unset;
        white-space: unset;
    }

    .recipe__tag__list {
        font-size: var(--font-x-small);
        font-weight: var(--weight-regular);
    }

    .recipe-for-today__info span:last-child {
        font-weight: var(--weight-bold);
        font-size: var(--font-x-small);
    }

}

@media (min-width:1440px) {
    .recipe-for-today__box {
        display: grid;
        grid-template-columns: 400px 1fr;
    }
}