#newsletters {
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#newsletters p {
    font-size: var(--font-x-small);
    padding: 1rem 0;
}

.newsletter__signup__info {
    margin: 1rem 0;
    position: relative;
}

.newsletter__signup__info input {
    height: 2rem;
    border-radius: 8em;
    border: none;
}

.newsletter__signup__info input:first-child {
    background-color: var(--color-light-gray);
    padding-left: 2em;
    box-sizing: border-box;
}

.newsletter__signup__info input:nth-child(2) {
    position:absolute;
    right: 0;
    padding: 0 1.2em;
    cursor: pointer; 
    color: var(--color-white);
    background-color: var(--color-primary);
    font-weight: var( --weight-xtra-bold);
    font-size: var(--font-micro); 
}

.newsletter__signup__info input:nth-child(2):hover {
    background-color: var(--color-dark-green);
}


/*====================================
Media Queries
====================================*/

@media (min-width:768px) {
    #newsletters {
        margin-top: 2.2rem;
    }
    #newsletters p {
        font-size: var(--font-small);
        padding: 2.5rem 0;
    }
    
    .newsletter__signup__info input:first-child {
        width: 29rem;
    }

    .newsletter__signup__info input:last-child {
        padding: 0 1.7rem;
    }

    .newsletter__signup__info input {
        height: 2.5rem;
    }

    .newsletter__signup {
        margin-bottom: 5rem;
    }
} 

@media (min-width:1024px) {
    .newsletter__signup__info input:first-child {
        width: 35rem;
    }

    .newsletter__signup__info input {
        height: 3rem;
    }

    .newsletter__signup__info input:nth-child(2) {
        font-size: var(--font-x-small);
    }
}