/* Section Common */
.section {
  padding: 0 1.5rem;
  /* text-align: center; */
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}


@media (min-width: 1440px) {

  .section {
    padding: 200px 100px 50px 100px;
  }
}