/* Section Common */
.section {
  padding: 4.5rem 1.5rem 0 1.5rem;
  /* text-align: center; */
  margin: auto;
}

/* Content-wrap: From Section 02 to Footer */

.content-wrap {
  width: 100vw;
}


@media (min-width: 768px) {
  .section {
    padding: 4.8rem 4.8rem 0 4.8rem;
  }

  .content-wrap {
    position: absolute;
    top: 70%;
  }
}


@media (min-width: 1440px) {

  .section {
    padding: 200px 100px 50px 100px;
  }
}