
/* .navbar {
    width: 100%;
    height: 100vh;
	will-change: top;
	padding: 1rem .5rem;
} */

.navbar {
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 1rem .5rem;
}

.navbar__left .navbar__logo {
    width: 3rem;
	height: auto;
	display: block;
	z-index: 999;
}

.logo_side_wordmark {
	display: none;
}

.navbar__left {
	flex-basis: 40%;
}

.navbar__right {
	display: none;
	position: absolute;
	right: 0;
	height: 100vh;
	background: var(--color-primary);
	flex-basis: 60%;
	z-index: 100;
}

.navbar__right .navbar__list {
	flex-direction: column;
	align-items: center;
	padding-top: 6rem;
}

.navbar__list__item {
    color: var(--color-white);
	font-size: var(--font-regular);
    font-weight: var(--weight-xtra-bold);
	text-transform: capitalize;
	padding: .4rem 0;
	
}

.navbar__list a {
    /* font-size: var(--font-regular); 1440 */
    display: block;
    padding: 0 40px;
}



.navbar__list__item a:hover {
	color: var(--color-dark-green);
	text-transform: uppercase;
}



@media (min-width:768px) {

	#header {
		height: 10.3rem;
		position: relative;
		width: 100vw;
	}

	.navbar {
		background-color: var(--color-primary);
		padding: 1.4rem 2.7rem;
		align-items: center;
		width: 100vw;
		height: 100%;
		/* justify-content: j; */
	}
	

	.navbar__right {
		height: 10.3rem;
		flex-basis: 60%;
		/* width: 100%; */
		justify-content: end;
		display: unset;
		background-color: transparent;
		position: absolute;
		padding-bottom: 7.3rem;
	}

	.navbar__right .navbar__list__item a{
		display: block;
		padding: 0 2rem;
	}

	.navbar__right .navbar__list {
		height: 100%;
		flex-direction: row;
		align-items: center;	
	}

	.navbar__left .navbar__logo {
		width: 6.7rem;
		height: 100%;
		display: block;
	}

	.navbar__left .navbar__logo img {
		width: 100%;
		object-fit: cover;
	}

	.navbar__list .navbar__list__item {
		font-size: var(--font-regular);
		font-weight: var(--weight-regular);
	}
}

@media (min-width:1024px) {
	.navbar__list .navbar__list__item {
		font-size: var(--font-medium);
		font-weight: var(--weight-semi-bold);
	}

	navbar__list a {
		padding: 0 20px;
	}

	.navbar__left .navbar__logo {
		display: none;
	}

	.logo_side_wordmark {
		display: unset;
		width: 13rem;
	}
}


@media (min-width:1440px) {

	.header {
		width: 100%;
		align-items: center;
		background-color: transparent;
		/* justify-content: space-around; */
		/* background-color: var(--color-primary); */
	}

	
	.logo_side_wordmark {
		display: unset;
		width: 14rem;
	}

	.navbar__left {
		flex-basis: 30%;
	}


	.navbar__right {
		flex-basis: 70%;
		padding-right: 3rem;
	}

	.navbar__list .navbar__list__item {
		font-size: var(--font-medium);
		font-weight: var(--weight-bold);
		transition: 0.5s;
	}

	.navbar__list a {
		/* font-size: var(--font-regular); 1440 */
		/* font-size: var(--font-micro);
		font-weight: var(--weight-semi-bold);
		display: block;
		padding: 0 40px; */
		
	}
	
	.navbar__list .navbar__list__item:hover {
		/* flex-grow: 1.5; */
		width: 45%;
	}
	
	.navbar__list .navbar__list__item a:hover {
		color: var(--color-dark-green);
		width: 100%;
	}
	
}