
.navbar {
    width: 100%;
    align-items: center;
    padding: 18px 20px;
    display: inline-block;
    justify-content: space-between;
    /* background-color: var(--color-primary); */
    background-color: transparent;
}

.navbar__left .navbar__logo {
    width: 3rem;
}

.navbar__left {
    width: 60%;
}

.navbar__right {
    width: 40%;
}

.navbar__list__item {
    color: var(--color-white);
    width: 25%;
    transition: 0.5s;
}

.navbar__list a {
    /* font-size: var(--font-regular); */
	font-size: var(--font-micro);
    font-weight: var(--weight-semi-bold);
    display: block;
    padding: 0 40px;
}

.navbar__list__item:hover {
	/* flex-grow: 1.5; */
	width: 35%;
}

.navbar__list__item a:hover {
    color: var(--color-dark-green);
}



/*====================================
BURGER
====================================*/
 .navbar-trigger {
 	position: relative;
 	width: 30px;
 	height: 30px;
 	border: none;
 	outline: 0;
 	background: transparent;
}

 .burger {
 	position: absolute;
 	background: var(--color-primary);
 	width: 90%;
 	height: 3.5px;
 	right: 0;
 	top: 50%; 
}

 .burger:before,
 .burger:after {
 	content: '';
 	background: var(--color-primary);
 	display: block;
 	position: absolute;
 	width: 30px;
 	height: 3.5px;
 	right: 0;
}

 .burger:before {
 	top: 9px;
}

 .burger:after {
 	bottom: 9px;
}

 .burger,
 .burger:before,
 .burger:after {
 	transition-property: transform, top, background;
 	transition-duration: .40s;
}

 .navbar-trigger.is-active .burger:before { 
 	transform: rotate(45deg);
 	top: -2px;
}

 .navbar-trigger.is-active .burger:after { 
 	transform: rotate(-45deg);
 	top: -2px;
}

 .navbar-trigger.is-active .burger { 
 	background: unset;
}